.primary-nav {

  @mixin atMedium {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 1rem 0.5rem;
  }

  ul {
    display: flex;
    flex-direction: column;
    /* justify-content: center;
    align-items: center; */
    padding: 0;
    margin: 0;

    @mixin atMedium {
      flex-direction: row;
    }
  }

  li {
    list-style: none;
    padding: 1rem;
    margin-bottom: 1rem;

    @mixin atMedium {
      padding: 0 1rem;
      margin-bottom: 0;
    }
  }

  a {
    text-decoration: none;
    color: #fff;
    font-size: 1.1rem;

    @mixin atMedium {
      font-weight: 300;

      &.is-current-link {
        color: #fabb69;
      }
    }
  }
}
