.row {
  display: flex;
  flex-direction: column;
  overflow: hidden;

  &--padding-t {
    padding-top: 80px;
  }

  @mixin atMedium {
    flex-direction: row;
    overflow: visible;
  }

  &--horizontal-at-large {
    flex-direction: column;

    @mixin atLarge {
      flex-direction: row;
    }
  }

  &__column {
    display: inherit;
    flex-direction: column;

    @mixin atMedium {
      margin: 0 2rem;
    }

    &--one-third {
      @mixin atMedium {
        width: 33%;
      }
    }

    &--one-third-at-large {
      @mixin atLarge {
        width: 33%;
      }
    }

    &--two-fifths {
      @mixin atMedium {
        width: 40%;
      }
    }

    &--three-fifths {
      @mixin atMedium {
        width: 60%;
      }
    }

    &--two-thirds {
      @mixin atMedium {
        width: 66%;
      }
    }

    &--margin-1-on-small {
      margin-bottom: 1rem;

      @mixin atMedium {
        margin-bottom: inherit;
      }
    }

    &--margin-b-2-on-small {
      margin-bottom: 2rem;

      @mixin atMedium {
        margin-bottom: inherit;
      }
    }

    &--margin-b-3-on-small {
      margin-bottom: 3rem;

      @mixin atMedium {
        margin-bottom: inherit;
      }
    }
    &--margin-b-6-on-small {
      margin-bottom: 6rem;

      @mixin atMedium {
        margin-bottom: inherit;
      }
    }
    &--margin-b-6-on-large{
      margin-bottom: 6rem;

      @mixin atLarge {
        margin-bottom: inherit;
      }
    }

    &--marginless {
      margin: 0;
    }
  }
}
