.row {
  display: flex;
  flex-direction: column;

  @mixin atMedium {
    flex-direction: row;
  }

  &__column {
    flex-direction: column;

    @mixin atMedium {
      margin: 0 2rem;
    }

    &--one-third {
      @mixin atMedium {
        width: 33%;
      }
    }

    &--two-fifths {
      @mixin atMedium {
        width: 40%;
      }
    }

    &--three-fifths {
      @mixin atMedium {
        width: 60%;
      }
    }

    &--two-thirds {
      @mixin atMedium {
        width: 66%;
      }
    }

    &--margin-b-on-small {
      margin-bottom: 1rem;

      @mixin atMedium {
        margin-bottom: 0;
      }
    }

    &--marginless {
      margin: 0;
    }
  }
}
