.wrapper {
  padding-left: 18px;
  padding-right: 18px;
  max-width: 1236px;
  margin-left: auto;
  margin-right: auto;

  &--medium {
    max-width: 960px;
  }

  &--narrow {
    max-width: 480px;
  }

  &--not-on-small {
    padding-left: 0;
    padding-right: 0;

    @mixin atSmall {
    }
  }

  &--not-on-medium {
    padding-left: 0;
    padding-right: 0;

    @mixin atMedium {
    }
  }

  &--not-on-large {
    padding-left: 0;
    padding-right: 0;

    @mixin atLarge {
    }
  }

  .wrapper { /* Any wrapper inside another wrapper should cancel each other */
    padding-left: 0;
    padding-right: 0;
  }

  &--margin-b-4 {
    margin-bottom: 1.5rem;

    @mixin atMedium{
      margin-bottom: 4rem;
    }
  }
}
